body {
  margin: 0;
}

header {
  background-color: #1F2937;
  padding: 12px 128px;
  display: flex;
}

ul {
  list-style: none;
}

a {
  color: #E5E7EB;
  text-decoration: none;
}

.logo {
  display: flex;
  gap: 16px;
}

.logo-title{
  color: #E5E7EB;
  align-self: center;
}

.links-conteiner {
  display: flex;
  gap: 12px;
  margin-left: auto;
}