body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: #1F2937;
  padding: 12px 128px;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 48px;
  margin-bottom: 48px;
  display: flex;
  gap: 32px;
  flex-direction: column;
  justify-content: space-evenly;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #E5E7EB;
  text-decoration: none;
}

.upper-header {
  display: flex;
  margin-bottom: 32px;
}

.bottom-header {
  display: flex;
  margin-bottom: 32px;
}

.coffee-hand {
  margin-left: auto;
  border-radius: 15%;
  border: 3px brown solid;
}

.main-title{
  text-align: center;
  font-size: 36px;
  font-weight: 800;
}

.upper-main {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.coffee-square {
  max-width: 250px;
}

.coffee-image {
  height: 200px;
  width: 200px;
  border: 3px gray solid;
  border-radius: 25%;
}

.text {
  flex-wrap: wrap;
}

.middle-main {
  display: flex;
  flex-direction: column;
  padding: 128px;
  gap: 36px;
  background-color: #E5E7EB;
}

.bottom-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.card {
  width: 800px;
  padding: 36px;
  background-color: #3882F6;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 300px;
  color: white;
}

#quotation {
  flex-wrap: wrap;
  font-size: 36px;
  color: #1F2937;
  font-weight: lighter;
  font-style: italic;
}

#quotation-bottom{
  align-self: flex-end;
  font-weight: 800;
  font-size: 24px;
}

#top-text {
  font-weight: bold;
}

#bottom-text {
  font-size: small;
}

#card-button {
  color: white;
  font-weight: 400;
  background-color: #3882F6;
  border-radius: 8px;
  border: solid 2px white;
  padding: 8px 16px;
}

.presentation{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-right: 32px;
}

.presentation,
.logo-title {
  color: #E5E7EB;
}

.logo {
  display: flex;
  gap: 16px;
}


.logo-title {
  align-self: center;
}

.links-conteiner {
  display: flex;
  gap: 12px;
  margin-left: auto;
}

.header-button {
  color: white;
  font-weight: 400;
  background-color: #3882F6;
  border-radius: 8px;
  border: solid 2px #3882F6;
  padding: 8px 16px;
}